@font-face {
	font-family: 'AvenirNextCyr-Bold';
	src:url('../fonts/AvenirNextCyr-Bold.ttf?pibp7t') format('truetype'),
		url('../fonts/AvenirNextCyr-Bold.woff?pibp7t') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Regular';
	src:url('../fonts/AvenirNextCyr-Regular.ttf?pibp7t') format('truetype'),
		url('../fonts/AvenirNextCyr-Regular.woff?pibp7t') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Italic';
	src:url('../fonts/AvenirNextCyr-Italic.ttf?pibp7t') format('truetype'),
		url('../fonts/AvenirNextCyr-Italic.woff?pibp7t') format('woff');
	font-weight: normal;
	font-style: normal;
}

$font-bold: 'AvenirNextCyr-Bold';
$font-reg: 'AvenirNextCyr-Regular';
$font-italic: 'AvenirNextCyr-Italic';

@import "bourbon/bourbon";
@import "vendor/bootstrap/bootstrap";

@import "modules/responsive";

@import "modules/header"; 
@import "modules/hero"; 
@import "modules/content"; 
@import "modules/footer";